@import '../../Scss/helpers/_helpers-dir'; 
.list-item{
    .date-time{
        margin-bottom: 15px;
        border-bottom: 1px solid $light-gray-color ;
        padding-bottom: 5px;
        font-size: 12px;
        font-weight: 400;
        .date{
            margin-right: 7px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-gray-color ;
        padding-bottom: 20px;
        margin-bottom: 20px;
        // line-height: 21px;
        .text-container{
            overflow-wrap: anywhere;
            padding-right: 20px;
            font-size: 14px;
            display: flex;
            align-items: center;
            color:$black-color;
            .num{
                border: $white-color;
                border-radius: 50px;
                border:2px solid $red-color;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22px;
                height: 22px;
                margin-right: 10px;
                font-size: 10px;
            }
        }
    }

    .delete-btn{
        padding: 5px 10px;
        border: none;
        display: inline-block;
        height: 30px; 
        border-radius: 50px;
        cursor: pointer;
        transition: .2s ease-in-out;   
    }
    .delete-btn:hover{
        background-color: $red-color;
        color: $white-color;    
    }
    
    
}
