@import '../../Scss/helpers/_helpers-dir';
@import '../../Scss/base/_base-dir';
// @import '../../main.scss';

.header {
    background-color: $red-color;
    padding: 6px;
    text-align: center;
    color: $white-color;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.main {
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%);
    @media screen and (max-width:768px){
        width: 70%;
    }
    @media screen and (max-width:480px){
        width: 80%;
    }
    &-heading {
        color: $dark-gray-color;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        border-bottom: 1px solid $light-gray-color ;
        padding-bottom: 10px;
        // margin-top: 20px;
    }
    &-today-date {
        margin-left: 6px;
        font-size: 12px;
        font-weight: 400;
        color: $gray-color;
    }
    &-content {
        font-size: 16px;
        font-weight: 400;
        color: $red-color;
        margin-top: 20px;
        margin-bottom: 20px;
        button {
            background: transparent;
            display: flex;
            border: none;
            align-items: center;
            cursor: pointer;
            color: $red-color;
            .plus-icon {
                border-radius: 50px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20px;
                margin-right: 5px;
                background-color: $white-color;
                border: 1px solid $red-color;
            }
            :hover {
                color: $white-color;
                background-color: $red-color;
                border: none;
            }
        }
    }
    .form-container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 70px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .input-text {
            width: 100%;
            border: none;
            outline: none;
            padding: 10px;
            border: 1px solid $light-gray-color ;
            border-radius: 10px;
            height: 120px;
            padding: 10px;
            // box-shadow: 0 0 10px -5px $gray-color;
            font-size: 16px;
            resize: none;
        }
    }
}

.btn-wrapper {
    .btn {
        padding: 10px;
        margin-top: 10px;
        width: 100px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .cancel-btn {
        margin-right: 10px;
    }
    .add-btn:disabled {
        opacity: .2;
        background-color: $red-color;
        color: $white-color;
        cursor: not-allowed
    }
    .add-btn:enabled {
        background-color: $red-color;
        color: $white-color;
    }

}